th{background-color:#F4EFDD;
             color:#CF7600;
             border-spacing: 2px;}

.emphasis{background-color:#F4EFDD;
             color:#CF7600;
             border-spacing: 2px;}

.ghost{background-color:#FFFFFF;}

td{line-height:5px;}